<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    html {
      font-family: Helvetica
    }
    .menu {
      margin: 10px 20px;
      padding: 0px 0px;
      border-bottom: 0.1em solid black;
    }

    td {
      background-color: lightgrey;
      padding: 0px 0px;
      margin: 0px 0px;
      height: 25px;
      width: 25px;
      text-align: center;
      border: 1px solid black;
    }

    .container {
      margin: 5px 10px;
      padding: 5px 10px;
    }

    #settings {
      margin: 0px 10px;
      padding: 5px 10px;
    }

    #ranges {
      margin-left: 100px;
    }

    #labels {
      float: left;
    }

    .clear {
      clear: both;
    }

    td.zero {
      background-color: grey;
    }    
  </style>
</head>
<body>
  <div class="menu">
    <h1>Minesweeper</h1>
    <p>Clear all the mines but don't detonate any along the way!</p>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <script type="text/javascript">
    angular.module('myApp', [])

      .controller('GameCtrl', ['$scope', function($scope) {

        // set some defaults
        $scope.gridRows = 8;
        $scope.gridCols = 8;
        $scope.numMines = 10;

        $scope.gameStatus = 'inactive';
        $scope.gameOutcome = '';

        $scope.revealCell = function(row, col, grid, cell) {
          if ($scope.gameStatus === 'active') {
            if (cell.isMine) {
              gameOver();
            } else if (!cell.isRevealed) {
              cell.isRevealed = true;
              if (cell.adjacentMines === 0) {
                aroundCellForEach(row, col, grid, function(r, cl, g, c) {
                  $scope.revealCell(r, cl, g, c);
                });
              }
            }
          }
        };

        $scope.revealMines = function(toggle) {
          gridForEach($scope.grid, function(cell) {
            if (cell.isMine) {
              cell.boom = '*';
              if (toggle) {
                cell.isRevealed = !cell.isRevealed;
              } else {
                cell.isRevealed = true;
              }
            }
          });
        };

        $scope.validateGame = function(grid) {
          var lost = false;
          gridForEach(grid, function(cell) {
            if (!cell.isRevealed && !cell.isMine) {
              lost = true;
            }
          });
          if (lost) {
            gameOver();
          } else {
            $scope.gameStatus = 'inactive';
            $scope.gameOutcome = 'You won!  Now, make it harder. :)';
          }
        };

        $scope.restartGame = function(rows, cols, mines) {
          makeGameGrid(rows, cols, mines);
          $scope.gameStatus = 'active';
        };

        var gameOver = function() {
          $scope.revealMines();
          $scope.gameStatus = 'inactive';
          $scope.gameOutcome = 'You lost, try again.';
        };

        var makeGameGrid = function(rows, cols, mines) {
          // set up initial flat array
          var gridSetup = [];
          
          for (var i = 0; i < rows * cols; i++) {
            var isMine = i < mines;
            var adjacentMines = isMine ? null : 0;
            gridSetup.push({
              isMine: isMine,
              adjacentMines: adjacentMines,
              isRevealed: false
            });
          }

          // randomize order then transform to grid
          shuffle(gridSetup);
          var grid = makeMatrix(gridSetup, rows, cols);

          // go set the adjacentMines property of each non-mine
          gridForEach(grid, function(cell, grid, row, col) {
            if (!cell.isMine) {
              cell.adjacentMines = countMinesRoundCell(row, col, grid);
            }
          });

          $scope.grid = grid;
        };

        var gridForEach = function(grid, cb) {
          // cb(cell, grid, row, col)
          var rows = grid.length;
          var cols = grid[0].length;
          for (var r = 0; r < rows; r++) {
            for (var c = 0; c < cols; c++) {
              cb(grid[r][c], grid, r, c);
            }
          }      
        };

        var aroundCellForEach = function(rowI, colI, grid, cb) {
          // [xShift, yShift]
          var traversalPath = [
            [-1, -1],
            [-1, 0],
            [-1, 1],
            [0, 1],
            [1, 1],
            [1, 0],
            [1, -1],
            [0, -1]];

          for (var i = 0; i < traversalPath.length; i++) {
            var row = rowI + traversalPath[i][0];
            var col = colI + traversalPath[i][1];
            // check that the point on the grid exists
            // use first row for col, just to check if col index is valid
            if (grid[row] && grid[0][col]) {
              cb(row, col, grid, grid[row][col]);
            }
          }
        };

        var countMinesRoundCell = function(rowI, colI, grid) {
          // never to be called on a mine iteself
          
          // [xShift, yShift]
          var traversalPath = [
            [-1, -1],
            [-1, 0],
            [-1, 1],
            [0, 1],
            [1, 1],
            [1, 0],
            [1, -1],
            [0, -1]];

          var count = 0;
          for (var i = 0; i < traversalPath.length; i++) {
            var row = rowI + traversalPath[i][0];
            var col = colI + traversalPath[i][1];
            // check that the point on the grid exists
            // use first row for col, just to check if col index is valid
            if (grid[row] && grid[0][col]) {
              if (grid[row][col].isMine) {
                count++;
              }
            }
          }
          return count;
        };

        var makeMatrix = function(flatArr, rows, cols) {
          // turns flat array into m x n dimensional array
          var grid = [];

          var gridI = 0;
          for (var r = 0; r < rows; r++) {
            grid.push([]);
            for (var c = 0; c < cols; c++) {
              grid[r].push(flatArr[gridI]);
              gridI++;
            }
          }
          
          return grid;

        };

        var shuffle = function(arr) {
          // shuffles flat array in place
          var len = arr.length;
          for (var i = 0; i < len; i++) {
            // ensure equal chance of getting index w/in unshuffled portion
            var randI = Math.floor(Math.random() * (len - i));
            var randItem = arr.splice(randI, 1)[0];
            arr.push(randItem);
          }
        };

        $scope.restartGame($scope.gridRows, $scope.gridCols, $scope.numMines);

      }]);

  </script>
  <div ng-controller="GameCtrl">
    <div id="settings">
      <div id="labels">
        <p>Rows ({{gridRows}}):</p>
        <p>Columns ({{gridCols}}):</p>
        <p>Mines ({{numMines}}):</p>
      </div>
      
      <div id="ranges">
        <p>1 <input type="range" min="1" max ="25" ng-model="gridRows" ng-disabled="gameStatus==='active'"> 25</p>
        <p>1 <input type="range" min="1" max ="25" ng-model="gridCols" ng-disabled="gameStatus==='active'"> 25</p>
        <p>1 <input type="range" min="1" max ="100" ng-model="numMines" ng-disabled="gameStatus==='active'"> 100</p>
      </div>
    </div>

    <div class="container">
      <button ng-click="revealMines(true)" ng-disabled="gameStatus==='inactive'">Cheat</button>
      <button ng-click="restartGame(gridRows, gridCols, numMines)">Restart</button>
      <button ng-click="validateGame(grid)" ng-disabled="gameStatus==='inactive'">Validate</button>
    </div>

    <div class="container">
      <table>
        <tbody>
          <tr ng-repeat="(r, row) in grid">
            <td ng-repeat="(c, cell) in row" ng-click="revealCell(r, c, grid, cell)" ng-class="{zero: cell.isRevealed && !cell.isMine && cell.adjacentMines===0}">
              <span ng-if="cell.isRevealed && !cell.isMine && cell.adjacentMines!==0">{{cell.adjacentMines}}</span>
              <span ng-if="cell.isRevealed && cell.isMine">{{cell.boom}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <h2 ng-if="gameStatus==='inactive'">{{gameOutcome}}</h2>
    </div>    

  </div>
</body>
</html>
