/* app css stylesheet */

.menu {
  margin: 10px 20px;
  padding: 0px 0px;
  border-bottom: 0.1em solid black;
}

td {
  background-color: lightgrey;
  padding: 0px 0px;
  margin: 0px 0px;
  height: 25px;
  width: 25px;
  text-align: center;
  border: 1px solid black;
}

.container {
  margin: 5px 10px;
  padding: 5px 10px;
}

#settings {
  margin: 0px 10px;
  padding: 5px 10px;
}

#ranges {
  margin-left: 100px;
}

#labels {
  float: left;
}

.clear {
  clear: both;
}

td.zero {
  background-color: grey;
}